<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/cercetare</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.example.proiectcercertare.model.ActAditional"/>
        <mapping class="com.example.proiectcercertare.model.Adresa"/>
        <mapping class="com.example.proiectcercertare.model.Angajat"/>
        <mapping class="com.example.proiectcercertare.model.Beneficiar"/>
        <mapping class="com.example.proiectcercertare.model.CerereImprumut"/>
        <mapping class="com.example.proiectcercertare.model.Cheltuiala"/>
        <mapping class="com.example.proiectcercertare.model.ContractTerti"/>
        <mapping class="com.example.proiectcercertare.model.Incasare"/>
        <mapping class="com.example.proiectcercertare.model.StatFunctii"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>